version: '3.9'

services:
    web:
        build: .
        container_name: django_app
        command: gunicorn myproject.wsgi:application --bind 0.0.0.0:8000
        volumes:
            - .:/app
        ports:
            - "8000:8000"
        depends_on:
            - db

    db:
        image: postgres:14
        container_name: postgres_db
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        volumes:
            - postgres_data:/var/lib/postgresql/data

    nginx:
        image: nginx:latest
        container_name: nginx_server
        ports:
            - "80:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - web

volumes:
    postgres_data: